---
import '../styles/global.css';
import 'aos/dist/aos.css'; // 👈 IMPORTANTE: Traemos los estilos de AOS acá arriba de forma estática
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import WhatsAppButton from '../components/WhatsAppButton.astro';

interface Props {
  title?: string;
}

const { title = "Sanatorio San José" } = Astro.props;
---

<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>

  <body class="bg-white text-gray-800 min-h-screen flex flex-col justify-between antialiased">
    
    <Header />

    <main class="flex-grow">
      <slot />
    </main>

    <Footer />
    
    <WhatsAppButton />

    <script>
      import AOS from 'aos';

      // Inicializamos AOS una vez que el DOM esté completamente cargado
      document.addEventListener('DOMContentLoaded', () => {
        AOS.init({
          duration: 800,
          once: true,
          offset: 50,
          easing: 'ease-out-cubic' // Le da una curva de velocidad mucho más suave y premium
        });
      });
    </script>
  </body>
</html>